<div class="row" #userInfoScreen>
  <div class="col-sm-12 col-md-12">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="expanded(true)"
        (closed)="expanded(false)"
        style="padding-top:4vh;padding-bottom: 4vh; background: #2C3E50"
      >
        <mat-expansion-panel-header
          class="disable_ripple"
        >
          <mat-panel-title style="padding-left:4vh">
            <img src="./assets/image1.jpg" width="60" height= "60" class="rounded-circle" alt="" style="border: 2px solid #2EC16E">
            <span style="vertical-align:bottom;padding-left:2vh;padding-top:3vh;font-size:x-large;color:white"> Bootstrap</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-list>
            <mat-list-item style='background:#2C3E50;color:white;padding-left:2vh;' >
              <p matLine>
                <span class="fa fa-facebook fa-2x" style="padding-top:1vh;padding-left:3vh;padding-right:1vh"> </span>
                <span> mikeross </span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-form-field>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
