<div class="row">
  <div class="col-sm-12 col-md-12" style="background:#32465A">
    <div class="input-group search-box" style="height:38px;padding-left: 5vh;">
      <span
        id="searchIcon"
        class="input-group-addon"
        id="start-date"
        style="font-size: 0.5rem;"
        ><span
          class="fa fa-search fa-2x"
          style="padding-top:1.89vh;padding-left:1vh;"
        ></span
      ></span>
      <input
        id="searchbar"
        type="text"
        class="form-control searchBox"
        style="height:38px"
        placeholder="Search contacts ..."
        aria-describedby="start-date"
      />
    </div>
  </div>
</div>
<div class="row" [ngStyle]="{ height: HeightOfTheUserList }">
  <div class="col-sm-12 col-md-12">
    <div
      class="panel-body"
      [ngStyle]="{ 'max-height': maxHeightOfUserList }"
      style="overflow-y: scroll;"
    >
      <mat-nav-list>
        <mat-list-item
          class="highlight-Pointed-item"
          style="color:white;padding-left:2vh;"
          *ngFor="let message of messages; let i = index"
          (mouseenter)="setBackgroundColor(i, 'mouseenter')"
          (mouseleave)="setBackgroundColor(i, 'mouseleave')"
          (click)="setdefaultcolor(i)"
          [ngStyle]="{ background: message.color }"
        >
          <img
            matListAvatar
            style="vertical-align:top"
            src="./assets/image1.jpg"
            width="50"
            height="50"
            class="rounded-circle"
            alt=""
          />
          <h3 matLine>{{ message.from }}</h3>
          <p matLine>
            <span> {{ message.display }} </span>
          </p>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>
