mat-nav-list {    
    width: 100%;
    min-height: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    flex-grow: 1;
      }
      ::-webkit-scrollbar {
        width: 8px;  /* Remove scrollbar space */
        background: #2C3E50;  /* Optional: just make scrollbar invisible */
    }
    ::-webkit-scrollbar-thumb {
        background: #1f3449;
    }

    .searchBox
{
    background: transparent;
    border:0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:20px;
    color: white;
}
.disable_ripple:hover{
  background: #2C3E50;
  }
.search-box{
  height:25px;
  
}

.fa-search{
  color:white;
}

.searchBox::placeholder { /* Firefox, Chrome, Opera */ 
  color: white; 
  align-content: center;
} 

.searchBox::-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: white; 
  align-content: center;
} 

.searchBox::-ms-input-placeholder { /* Microsoft Edge */ 
  color: white; 
  align-content: center;
} 