<div class="row" style="height: 100%;" #completeScreen>
  <div class="col-sm-4 col-md-4">
    <app-chatappmenu></app-chatappmenu>
  </div>
  <div class="col-sm-8 col-md-8" style="padding-left: 0;padding-bottom: 0;">
    <app-chat-app-header></app-chat-app-header>
    <div class="row" style="height: 87vh;">
      <div class="col-sm-12 col-md-12" style="height: 100%;">
        <div class="panel-body" style="overflow-y: auto;height: inherit;">
          <footer class="card messageContent">
            <ul class="list-group list-group-flush" *ngFor="let item of [1,2,3,4,5]">
              <li class="list-group-item" style="border:0px">
                <div
                  style="display: inline-block;vertical-align: top;padding-right:2vh;"
                >
                  <img
                    src="assets/image1.jpg"
                    width="25"
                    height="25"
                    class="rounded-circle"
                  />
                </div>
                <div
                  style="text-align:left;background:#2C3E50;max-width:48%;border-radius:25px;border:1px solid #A9A9A9;color:white;padding:12px;display:inline-flex;"
                >
                  When you're backed against the wall, break the god damn thing
                  down. {{ item }}
                </div>
              </li>
              <li class="list-group-item" style="text-align:right;border:0px">
                <div
                  style="text-align:left;background:white;max-width:48%;border-radius:25px;border:1px solid #A9A9A9;color:black;padding:12px;display:inline-flex;"
                >
                  gfgbgdgefsfsfsg {{ item }}
                </div>
                <div
                  style="display:inline-block;vertical-align: top;padding-left:2vh;"
                >
                  <img
                    src="assets/image1.jpg"
                    width="25"
                    height="25"
                    class="rounded-circle"
                  />
                </div>
              </li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
    <app-chat-app-footer></app-chat-app-footer>
  </div>
</div>
