<div class="row" style="height: 100%;" #completeScreen>
  <div class="col-sm-4 col-md-4">
    <div class="row" #userInfoScreen>
      <div class="col-sm-12 col-md-12">
        <mat-accordion >
          <mat-expansion-panel (afterExpand)="expanded(true)" (afterCollapse)="expanded(false)" style="padding-top:4vh;padding-bottom: 4vh;">
            <mat-expansion-panel-header class="disable_ripple" style="background: white;">
              <mat-panel-title>
                Personal data
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput placeholder="Age">
            </mat-form-field>
          </mat-expansion-panel>
          </mat-accordion>
      </div>
    </div>
    <div class="row" [ngStyle]="{'height': HeightOfTheUserList}">
      <div class="col-sm-12 col-md-12">

      </div>
    </div>
    <div class="row" class="footer" #footerScreen>
      <footer style="width:100%" class="input-group">
        <button [ngStyle]="{'background': AddContactButtonColor}" (mouseover)="AddContactButtonColor = '#435F7A'" (mouseout)="AddContactButtonColor='#32465A'" class="raised" >
          <span style="color:white">Add new Contact</span>
      </button>
      <button [ngStyle]="{'background': AddNewContactButtonColor}"(mouseover)="AddNewContactButtonColor = '#435F7A'" (mouseout)="AddNewContactButtonColor = '#32465A'" class="raised">
          <span style="color:white">Add New Group</span>
      </button>
      </footer>
    </div>
  </div>
  <div class="col-sm-8 col-md-8" style="padding-left: 0;padding-bottom: 0;">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <nav class="navbar navbar-light bg-light" style="padding-left:4vh">
          <a class="navbar-brand" href="#">
            <img
              src="assets/image1.jpg"
              width="35"
              height="35"
              class="rounded-circle"
              alt=""
            />
            <span style="padding-left: 2vh;">Bootstrap</span>
          </a>
          <div class=" form-inline my-2 my-lg-0">
            <span style="padding-right:5vh;">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </span>
            <span style="padding-right:5vh;">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span style="padding-right:7vh;">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </span>
          </div>
        </nav>
      </div>
    </div>
    <div class="row" style="height: 85.5vh;">
      <div class="col-sm-12 col-md-12" style="height: 100%;">
        <div class="panel-body" style="overflow-y: auto;height: inherit;">
          <footer class="card messageContent">
            <ul class="list-group list-group-flush" *ngFor="let item of [1]">
              <li class="list-group-item" style="border:0px">
                <div
                  style="display: inline-block;vertical-align: top;padding-right:2vh;"
                >
                  <img
                    src="assets/image1.jpg"
                    width="25"
                    height="25"
                    class="rounded-circle"
                  />
                </div>
                <div
                  style="text-align:left;background:#2C3E50;max-width:48%;border-radius:25px;border:1px solid #A9A9A9;color:white;padding:12px;display:inline-flex;"
                >
                  When you're backed against the wall, break the god damn thing
                  down. {{ item }}
                </div>
              </li>
              <li class="list-group-item" style="text-align:right;border:0px">
                <div
                  style="text-align:left;background:white;max-width:48%;border-radius:25px;border:1px solid #A9A9A9;color:black;padding:12px;display:inline-flex;"
                >
                  gfgbgdgefsfsfsg {{ item }}
                </div>
                <div
                  style="display:inline-block;vertical-align: top;padding-left:2vh;"
                >
                  <img
                    src="assets/image1.jpg"
                    width="25"
                    height="25"
                    class="rounded-circle"
                  />
                </div>
              </li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
    <div class="row">
      <footer style="width:100%" class="input-group">
        <input
          id="messageTyped"
          type="text"
          class="form-control"
          size="10"
          placeholder="Write a message ..."
          aria-describedby="start-date"
        />
        <span style="padding-left:2vh;padding-right:2vh;padding-top: 7px;"
          ><i class="fa fa-paperclip fa-lg" style="padding-top:11"></i
        ></span>
        <span
          style="padding-left:2vh;padding-right:2vh;padding-top:7px;background:#3f3b3b"
          ><i
            class="fa fa-paper-plane-o fa-lg"
            style="color:white;padding-top: 11"
          ></i
        ></span>
      </footer>
    </div>
  </div>
</div>
