.mat-accordion .mat-expansion-panel:last-of-type{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}