mat-nav-list {    
    width: 100%;
    min-height: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    flex-grow: 1;
      }
      ::-webkit-scrollbar {
        width: 8px;  /* Remove scrollbar space */
        background: #2C3E50;  /* Optional: just make scrollbar invisible */
    }
    ::-webkit-scrollbar-thumb {
        background: #1f3449;
    }