<div class="row" style="height: 87vh;">
        <div class="col-sm-12 col-md-12" style="height: 100%;">
          <div class="panel-body" style="overflow-y: auto;height: inherit;">
            <footer class="card messageContent">
              <ul class="list-group list-group-flush" *ngFor="let item of messages">
                <li *ngIf="item.display==='left'"class="list-group-item" style="border:0px">
                  <div
                    style="display: inline-block;vertical-align: top;padding-right:2vh;"
                  >
                    <img
                      src="assets/image1.jpg"
                      width="25"
                      height="25"
                      class="rounded-circle"
                    />
                  </div>
                  <div
                    style="text-align:left;background:#2C3E50;max-width:48%;border-radius:25px;border:1px solid #A9A9A9;color:white;padding:12px;display:inline-flex;"
                  >
                   {{item.message}}
                  </div>
                </li>
                <li  *ngIf="item.display==='right'" class="list-group-item" style="text-align:right;border:0px">
                  <div
                    style="text-align:left;background:white;max-width:48%;border-radius:25px;border:1px solid #A9A9A9;color:black;padding:12px;display:inline-flex;"
                  >
                    {{item.message}}
                  </div>
                  <div
                    style="display:inline-block;vertical-align: top;padding-left:2vh;"
                  >
                    <img
                      src="assets/image1.jpg"
                      width="25"
                      height="25"
                      class="rounded-circle"
                    />
                  </div>
                </li>
              </ul>
            </footer>
          </div>
        </div>
      </div>