<div class="row">
        <footer style="width:100%" class="input-group footer">
          <input
            id="messageTyped"
            type="text"
            class="form-control"
            size="10"
            placeholder="Write a message ..."
            aria-describedby="start-date"
          />
          <span style="padding-left:2vh;padding-right:2vh;padding-top: 7px;"
            ><i class="fa fa-paperclip fa-lg" style="padding-top:11"></i
          ></span>
          <span
            style="padding-left:2vh;padding-right:2vh;padding-top:7px;background:#3f3b3b"
            ><i
              class="fa fa-paper-plane-o fa-lg"
              style="color:white;padding-top: 11"
            ></i
          ></span>
        </footer>
      </div>