<div class="row" class="footer" #footerScreen>
        <footer style="width:100%" class="input-group">
          <button [ngStyle]="{'background': AddContactButtonColor}" (mouseover)="AddContactButtonColor = '#435F7A'" (mouseout)="AddContactButtonColor='#32465A'" class="raised" >
            <span style="color:white">Add new Contact</span>
        </button>
        <button [ngStyle]="{'background': AddNewContactButtonColor}"(mouseover)="AddNewContactButtonColor = '#435F7A'" (mouseout)="AddNewContactButtonColor = '#32465A'" class="raised">
            <span style="color:white">Add New Group</span>
        </button>
        </footer>
      </div>